.wrapper {
	text-align: center;
	padding: 10px 20px 20px 20px;
}

.date-header {
	padding-bottom: 30px;
	padding-top: 30px;
}

.lg-pod,
.sm-pod {
	padding: 20px;
	margin: 10px 0;
	border: solid 1px #000000;
	background-color: #efefef;
}

.sm-pod,
.add-pointer {
	cursor: pointer;
}

.lg-pod {
	background-color: white;
	text-align: none;
}

.timeline {
	display: flex;
	flex-wrap: nowrap;
}

.time-section {
	display: flex;
	justify-content: space-between;
}

.timeline-desc {
	font-size: 15px;
}
